@media screen and (max-width:425px){
    .nav-container{
        flex-direction: column;
    }
    .logo-container{
        width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .nav-items-container .follow-btn{
        padding: 0;
        text-align: center;
    }
    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
        gap: 10px;
    }
    .banner-text{
        width: 100%;
        height: 100%;
        background-size: contain;
    }
    .banner-img{
        width: 100%;
    }
    .banner-list{
        margin-left: 80px;
    }
    .banner-btn{
        margin-left: 80px;
    }
    .gamer-container{
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    .gamer-text{
        text-align: center;
        margin-left: 50px;
    }
    .card-container, .online-container{
        flex-direction: column;
    }
    .online-container{
        width: 100%;
        margin: 30px;
        position: relative;
    }
    .online-container .online-img{
        width: 100%;
    }
    .online-container .online-badge{
        width: 30%;
        position: absolute;
        top: 80px;
        left: 100px;
    }
    .online-section{
        width: 100%;
        object-fit: cover;
    }
    .career-container{
        flex-direction: column;
    }
    .career-text{
        margin-right: 50px;
    }
    .five-buttons{
        flex-direction: column;
        padding: 10px;
        gap: 5px;
        margin-left: 60px;
    }
    .four-buttons{
        flex-direction: column;
        padding: 10px;
        gap: 5px;
        margin-left: 60px;
    }
    .button-container{
        flex-direction: column;
        padding: 5px 10px;

    }
    footer{
        width:auto;
        height: 100%;
    }
    .footer-container{
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    footer .logo-container img{
        margin-top: 7px;
    }
    .logo-container .footer-container p{
        text-align: center;
        margin-top: 25px;
    }
    .footer-list{
        gap: 5px;
        margin: 5px;
        justify-content: center;
    }
    .icon-container{
        gap: 15px;
        margin: 30px 140px;
    }
    .policy-container{
        gap: 5px;
        margin: 5px;
    }
    .copyright-description{
        margin: 10px;
    }
}

/* tablet device */

@media screen and (min-width:425px) and (max-width:768px){
    .nav-container{
        padding: 10px 70px;
        flex-direction: column;
    }
    .logo-container{
        width: 100%;
        padding: 0 150px;
    }
    .nav-items-container{
        width: 100%;
        padding: 0px 10px;
        gap: 10px;
    }
    .banner-container{
        width: 100%;
        flex-direction: column;
        padding-left: 40px;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-text{
        text-align: center;
    }
    .card-container{
        flex-direction: column;
    }
    .card-container img{
        margin-left: 150px;
        padding-top: 20px;
        text-align: center;
    }
    .card-container .card-img{
        margin-left: 20px;
        padding-top: 20px;
        text-align: center;
    }
    .online-container{
        width: 100%;
        flex-direction: column;
        padding-left: 5px;
    }
    .online-text{
        margin-top: 0;
    }
    .career-container{
        flex-direction: column;
    }
    .career-text{
        margin-left: 40px;
    }
    .career-img{
        margin-left: 55px;
    }
    .five-buttons{
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        margin-left: 70px;
    }
    .four-buttons{
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0;
        margin-left: 95px;
        column-gap: 70px;
    }
    footer{
        width: 100%;
        height: 100%;
    }
    .footer-container{
        margin: 0;
    }
    .logo-container{
        padding-left: 230px;
    }
    .footer-list{
        margin: 0 70px;
        gap: 30px;
    }
    .icon-container{
        margin: 30px 170px;
    }
    .policy-container{
        margin: 0 70px;
        gap: 40px;
    }
    .copyright-description{
        margin: 30px 0;
    }
}
